:root {
    --darkgrey: #4A4A4A;
    --grey: #9E9E9E;
    --lightgrey: #F2F2F2;
    --blue: #1687D6;
    /* TODO: choose better colours */
    --darkblue: darkblue;
    --purple: purple;
    --deeppurple: deeppurple;
}
